  /* Nav Bar */

  .hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    tranform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
    padding-right: 80px;
    padding-top: 20px;
    color: black;
  }
  
  .hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
  }
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
  }
  
  
  
  @keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
  
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
  }
  
  
  
  .widget-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
    display: inline-block;
  }
  
   .about_post_list ul {
    margin: 0;
    padding: 0;
  }
   .about_post_list ul li a {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #A0A5A8;
  }  
    
  
  /*DEFAULT POST TYPE*/
  .single_post {
    position: relative;
    z-index: 2;
    transition: all 0.3s;
  }
  .single_post .single_post_text a:hover {
    color: #1091FF;
    transition: all 0.3s;
  }
  
  .gradient1 {
    position: relative;
    z-index: 2;
  }
  .gradient1:after {
    position: absolute;
    content: "";
    height: 60%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
    left: 0;
    bottom: 0;
  }

  .single_post_text a {
    color: #17222B;
    font-weight: 500;
  }
  .single_post_text h4 {
    font-size: 16px;
    color: #17222B;
    font-weight: 500;
    line-height: 21px;
  }
  .single_post_text h4 a {
    color: #17222B;
    font-weight: 500;
  }
   
  .post_img {
    position: relative;
    z-index: 2;
  }
  
  .post_img img {
    object-fit: cover;
  }
  
  .see_all {
    font-weight: 500;
    font-size: 15px;
    color: #8A8F94;
    text-transform: uppercase;
  }
  
  /* widget page */
  .widgets_small {
    padding-left: 120px;
    min-height: 77px;
  }
  .widgets_small .post_img {
    position: absolute;
    left: 0;
    top: 0;
    height: 77px;
    width: 100px;
  }
  .widgets_small .post_img img {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    object-fit: cover;
    overflow: hidden;
  }
  .widgets_small:hover .post_img img {
    transform: scale(1.1);
    transition: all 0.3s;
  }
  .widgets_small .tranding img {
    height: 12px;
    width: 6px;
    padding-top: 2px;
  }
  .widgets_small .single_post_text a {
    line-height: 21px;
  }
  .widgets_small .single_post_text .meta {
    font-size: 12px;
    line-height: 20px;
  }
  
  .img_wrap {
    overflow: hidden;
    /*height: -webkit-fill-available;
    width: -webkit-fill-available;
    */
  }
  
  .widget_tab ul {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    border: none;
  }
  .widget_tab ul li {
    list-style: none;
    margin-right: 10px;
    width: 31.4%;
  }
  .widget_tab ul li:last-child {
    margin-right: 0;
  }
  .widget_tab ul li a {
    background: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    line-height: 12px;
    padding: 12px;
    width: 100%;
    text-align: center;
  }
  .widget_tab ul li a.active {
    color: #FFFFFF;
    background: #1091FF;
  }
  
  .tab-pane.fade.active.show {
    transform: translateX(0px);
    transition: all 0.3s;
  }
  
  .tab-pane.fade {
    transform: translateX(30px);
    transition: all 0.3s;
  }
  
.article_img {
  width: 100%;
  height: auto;
}

.btn col-lg-2 {
  display: inline-block;
}

.widget_image {
  width: 100%;
  height: auto;
}

.form-control {
  width: 100%;
}

#search-btn {
  margin-top: 6px;
}

#random-btn {
  margin-top: 6px
}

.carousel_img {
  max-width: 40%;
  height: auto;
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.jumbotron {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.card {
  margin-top: 20px;
  max-width: 80%;
  height: auto;
  margin-right: 16%;
}

body {
  background-color: #f5f5f5;
}

.carou_img {
  display: flex;
  justify-content: center;
  max-width: 40%;
}

